/* globals.css */

/* Import Tailwind layers */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom variables */
:root {
  --cream: #f5ecde; /* cream */
  --darkGreen: #2d6a52; /* darkGreen */
  --lightGreen: #bbd378;     /* lightGreen */
  --cafeBrown: #34251b;  /* cafeBrown */
  
  --font-mono: 'IBM Plex Mono', monospace;
}

/* Global body styles */
body {
  background-color: var(--cream);
  color: var(--foreground);
}

/* Custom styles for specific elements */
.text-brown {
  color: var(--cafeBrown);
}

.text-green {
  color: var(--darkGreen);
}