/* globals.css */

/* Import Tailwind layers */
@import "tailwindcss";
@tailwind utilities;

/* Define custom variables */
:root {
  --cream: #f5ecde; /* cream */
  --darkGreen: #2d6a52; /* darkGreen */
  --lightGreen: #bbd378;     /* lightGreen */
  --cafeBrown: #34251b;  /* cafeBrown */
  
  --font-mono: 'IBM Plex Mono', monospace;
}

/* Global body styles */
body {
  background-color: var(--cream);
  color: var(--foreground);
}

/* Custom styles for specific elements */
.text-brown {
  color: var(--cafeBrown);
}

.text-green {
  color: var(--darkGreen);
}

@keyframes smooth-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-smooth-fade-in {
  animation: smooth-fade-in 0.3s ease-out forwards;
}

@keyframes smooth-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
}

.animate-smooth-fade-out {
  animation: smooth-fade-out 0.3s ease-out forwards;
}
